@import url('https://fonts.googleapis.com/css2?family=Roboto');

.searchbox {
    margin: 20px;
    max-width: 50%;
    border-radius: 4px;
    box-shadow: 0 12px 12px rgba(132, 0, 255, 0.1); /* Add a shadow */
    border: none;
    outline: none;
    font-size: 24px;
    width: 100%;
    padding: 14px 14px 14px;
    border-radius: 12px;
    box-sizing: border-box;
    font-family: 'Roboto';
    padding-right: 80px;
  }
  
  .searchbox button:hover {
    background-color: #40a9ff; /* Lighter shade of primary color on hover */
  }

  .custom-search-bar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .svgClass {
    cursor: pointer; 
    margin-left: -80px;
    z-index: 1;
  }